
#
Make.rules
configure
config.*
core
autom4te.cache/*

# libsimbus/
libsimbus/*.a
libsimbus/*.o

# server/
server/simbus_version.cc
server/*.o
server/config.tab.cpp
server/config.tab.hpp
server/lex.config.c
server/simbus_server

# vpi/
vpi/simbus_version.c
vpi/*.o
vpi/simbus.vpi

# example/example_axi4/
example/example_axi4/bus.lxt
example/example_axi4/dump.*
example/example_axi4/master
example/example_axi4/slave

# example/example_axi4s/
example/example_axi4s/bus.lxt
example/example_axi4s/master
example/example_axi4s/slave
example/example_axi4s/*.log
