
#
Make.rules
configure
config.*
autom4te.cache/*

# libsimbus/
libsimbus/*.a
libsimbus/*.o

# server/
server/*.o
server/config.tab.cpp
server/config.tab.hpp
server/lex.config.c
server/simbus_server

# vpi/
vpi/*.o
vpi/simbus.vpi
